h1,
h2,
p {
  line-height: 140%;
  padding: 0;
  margin: 0;
}

.post {
  margin-bottom: 81px;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.blog-container {
  max-width: 650px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 156px;
  margin-right: 48px;
}

.main-title {
  color: var(--bgcolor-darkblue, #1c2e6a);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 48px;
}

.post-title {
  color: var(--bgcolor-darkblue, #1c2e6a);
  font-size: 16px;
  font-weight: 700;
}

.date {
  color: var(--contrastcolors-dark-orange, #f98125);
  font-size: 16px;
  font-weight: 600;
}

.text-preview {
  color: var(--base-colors-grey, rgba(159, 159, 159, 0.8));
}

.filters {
  display: flex;
  margin-top: 156px;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.filters::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #f98125;
  height: 32%;
  left: -24px;
}

label,
.filter-title {
  color: #1c2e6a;
}

.filter-title {
  font-size: 16px;
  font-weight: 600;
}

input {
  margin-right: 8px;
}

.blog-img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

svg {
  padding: 12px;
}

.pagination > a:nth-child(2),
.pagination > a:nth-child(3),
.pagination > a:nth-child(4),
.pagination > a:nth-child(5) {
  border: 1px solid #1c2e6a;
  text-decoration: none;
  color: #1c2e6a;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.pagination > a:nth-child(2):hover,
.pagination > a:nth-child(3):hover,
.pagination > a:nth-child(4):hover,
.pagination > a:nth-child(5):hover {
  background-color: #1c2e6a;
  color: #fff;
}

/* MOBILE */
@media only screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    margin: auto 32px;
  }

  .blog-container {
    margin-right: 0px;
  }

  .main-title {
    font-size: 22px;
  }

  .post-title,
  .date,
  .text-preview {
    font-size: 12px;
  }

  .filters {
    display: none;
  }
}

/* TABLET */

@media only screen and (max-width: 770px) {
  .container {
    flex-direction: column;
    margin: auto 32px;
  }

  .blog-container {
    margin-right: 0px;
  }

  .main-title {
    font-size: 28px;
  }

  .post-title,
  .date,
  .text-preview {
    font-size: 16px;
  }

  .filters {
    display: none;
  }
}
