@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&family=Space+Grotesk:wght@300;500;600&display=swap");
:root {
  --maindarkblue: #1c2e6a;
  --mainorange: #f98125;
}
* {
  font-family: Montserrat, sans-serif;
}
body {
  background-color: #f6f6f6;
  height: 100vh;
  margin: auto;
  margin-top: 10px;
}

/* ============== NAVBAR ============== */
#hamburguesa {
  display: none;
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}

#hambimg {
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 24px;
}

#navbar {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f6f6f6;
  z-index: 100;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}

#logo {
  width: 90px;
  height: 80px;
  margin-left: 100px;
  float: left;
}

#menu {
  position: relative;
  margin: auto;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

#navbar a {
  display: inline-block;
  position: relative;
  color: var(--maindarkblue);
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
}

#navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--mainorange);
  transition: width 0.3s ease;
}

#navbar a:not(#enlacelogo):hover::after {
  width: 100%;
}

#navbar #loginbtn a::after {
  width: 0% !important;
}

#dropcontenido {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
}

#dropcontenido a {
  float: none;
  color: var(--maindarkblue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#dropcontenido a:hover {
  background-color: transparent;
  color: var(--maindarkblue);
  border-radius: 8px;
}

#drop:hover #dropcontenido {
  display: block;
}

#drop:hover .fa-chevron-down {
  transform: scaleY(-1);
}
.fa-chevron-down {
  display: inline-block;
  align-items: center;
  transition: transform 0.3s ease;
}

.fa-chevron-down:hover {
  transform: scaleY(-1);
}

#loginbtn a {
  position: relative;
  margin-right: 200px;
  height: fit-content;
  background-color: var(--mainorange);
  color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 8px 16px;
  font-weight: 600;
}

#loginbtn a:hover {
  background-color: var(--maindarkblue);
  color: #fcfcfc;
}

#lupa {
  float: right;
  margin-right: 112px;
}

/* ============== FOOTER ============== */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 112px;
}
#mainfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #eaf6ff;
}

#line {
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
}

#contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#contacto p,
#contacto h3 {
  margin: 10px 0;
  padding: 0;
  color: var(--maindarkblue);
  font-weight: bold;
}

.dataline {
  display: flex;
  align-items: center;
}

.dataline img {
  width: 25px;
  height: 25px;
  padding: 0 10px;
}

#rrss {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

#logors {
  width: 125px;
  height: 115px;
}

#rscontainer img {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  padding: 0 10px;
}

#politicas {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #465f9a;
}

#politicas a {
  padding: 0 50px;
  text-decoration: none;
  color: #fcfcfc;
}

/* ============== RESPONSIVE ============== */
@media screen and (max-width: 768px) {
  #navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }

  #logo {
    margin-left: 20px; /* Adjusted margin for tablet */
  }

  #lupa {
    display: block; /* Show the search icon for tablets */
    margin-right: 20px; /* Adjusted margin for tablet */
  }
}

@media only screen and (max-width: 768px) {
  #mainfooter {
    flex-direction: column;
    height: auto;
  }

  #rrss {
    margin-right: 0;
    margin-top: 20px;
  }
  #contacto {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }

  #politicas a {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  #hamburguesa {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  #hambimg {
    margin-left: auto;
  }
}
