/*
#contservicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 104px;
    margin-top: 220px;
}
  

.subcontservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 104px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6379AB;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    transition: transform 1s;
    text-decoration: none;

}

.servicios:hover {
    transform: scale(1.1);
}

.servicios img {
    border-radius: 8px;
    width: 472px;
    height: 352px;
}

.servicios p {
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    color: #eaf6ff;
}
*/

/* Estilos generales */

#contservicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 104px;
    margin-top: 220px;
}

.subcontservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 104px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6379AB;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    transition: transform 1s;
    text-decoration: none;
}

.servicios:hover {
    transform: scale(1.1);
}

.servicios img {
    border-radius: 8px;
    width: 100%; 
    max-width: 472px; 
    height: auto;
}

.servicios p {
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
    color: #eaf6ff;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
    #contservicios {
        gap: 20px;
        margin-top: 220px;
    }

    .subcontservicios {
        gap: 20px;
    }

    .servicios {
        width: 100%;
        max-width: none;
        margin-left: 16px;
        margin-right: 16px;
    }

    
    .servicios:hover {
        transform: none;
    }
    

    .servicios img {
        max-width: none;
    }

    .servicios p {
        white-space: nowrap;
        font-size: 24px;
        font-weight: 600;
    }
}